{% load static from staticfiles %}
<!DOCTYPE HTML>
    <head>
        <title>Query Result</title>
        <link  rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css ">
    </head>
    <body class="brb">
        <h1 style="color: blue">Your query result</h1>
        <table border="1" style="width: auto">
            <tr>
                <th>FLIGHT ID</th>
                <th>AIRLINE NAME</th>
                <th>EXPECTED ARRIVAL TIME</th>
                <th>REMARK</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row.0 }}</td>                    
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>