<!DOCTYPE HTML>
    <head>
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
        <link  rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css ">
        <title img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Indira_Gandhi_International_Airport_Logo.svg/300px-Indira_Gandhi_International_Airport_Logo.svg.png">WELCOME TO IGI AIRPORT</title>
    </head>
    <body>
        <div class="homeimg">
            <img src="http://www.moodiereport.com/images/GMR_delhi_combine_logo.jpg" style="height: 100px; width: 1400px">
        </div>
        <div class="nav nav-pills">
            <div class="container">
                <ul class="pull-left">
                    <li><a href="/infopage">Airline Info</a></li>
                    <li><a href="/departinfo">Departures</a></li>
                    <li><a href="/arrinfo">Arrivals</a></li>
                </ul>
                <ul class="pull-right">
                    <li><a href="/login">Admin Login</a></li>
                </ul>   
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2>Welcome to the official site of IGI</h2>
                <p>This portal gives power to travllers to search for flights to and from T3 and also allowes to search for info about different airlines.</p>
            </div>
        </div>
        <footer>
            <p>Designed and developed by Shubham Aggarwal, Sarthak Saini, Vipul Sharma. All rights reserved.</p>
        </footer>
    </body>